*{
  box-sizing: border-box;
  
}

body{
width: 100%;
height: 100%;
margin: 0;
  padding: 0;
}

.shaileshbhat{
  font-family: 'Darker Grotesque', sans-serif;
  font-style: bold;
  color: black;
  font-size:35px;
padding: 2% 0 0 10%;
}

#menucover{
float: left;
  width: auto
 height: auto;
  background: white;
  margin: 0;
  padding: 0;
}

#name{

  float: left;
  width: 30%;
  height: 100px;

  margin: 0;
  padding: 0;
}

#name a{
  text-decoration: none;
}

#menuid{

float:left;
  width: 70%;
  height: 100px;
  margin: 0;
  padding: 0;
}

#menulinks{
  float: right;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
}

#menulinks li{

  display: inline;
  color: black;
  width: 100%;
  height: 15%;
  padding: 5px;

}

#menulinks li a{

 text-decoration: none;
 color: black;
 font-family: karla,verdana;

}

#menulinks li a:hover{

 
 color: white;

}


li:hover{

  background: indigo;
  color: white;

}

#back1{
float: left;
  width:100%;
 height: 400px;
 background: indigo;
 margin: 0;
  padding: 0;



}

.fontverybig{

  font-size:100px;
  color: white;
  padding-left: 10%;

}


.aboutme{
width: 90%;
height: auto;
  padding-left: 10%;
  padding-right:0;
  padding-top: 0;
  padding-bottom: 10%;
 text-align: justify;
 font-size: large;
}

#menucover #button1{
  position: relative;
  

  margin: 0 0 0 50px;
}

#menucover #button2{

  position: relative;
  margin: 0 0 0 100px;
}


#skills{
  width:50%;
  height: 220px;
  margin: 0 0 0 9%;
  padding: 0 0 0 0;

}

#clients{
 width:50%;
  height: 220px;
  margin: 0 0 0 9%;
  padding: 0 0 0 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#contact{
  width:50%;
  height: 250px;
  margin: 0 0 0 ;
 padding: 0 0 0 0;
}

.c{
  width: 50%;
  height: 50px;
  margin: 0 0 0 6%;
}

@media only screen and (max-width: 600px)
{



  #menucover{

    float: left;
    width: auto;
    height:auto;

  }

  #menu{

    float: left;
    width:auto;
    height:auto;
  }

  

  #name{

    float: left;
    width:100%;
    height:100px;
    padding: 0;
    margin: 0;
  }


  .shaileshbhat{
    padding-top: 20px;
  }

h3{
  padding: 0;
}
  #menuid{
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height:190px;
    border-top: 0.25px solid lightgrey;
    
  }

  #back1{
float: left;
    width: 100%;
    height: 820px;
  }


  #menulinks{
    float: left;
    margin: 0;
    padding: 0;
    width:100%;
    height:150px;
    
  }



#menulinks li{
  float: left;
  width:100%;
  height:25%;
}

li a{

  width: auto;
  height: auto;
  font-size: 15px;
}

#menulinks li a{

 width: 100%;
 height: 100%;

}

#menulinks{
  float: left;
}


#button1{

  margin-top:0 0 0 0;
  position: absolute;
}

#button2{

  margin-top:50px 0 0 0;
  position: absolute;
}

  }
